 <div id="aba_limpeza_corpus" class="tab-pane fade">
            <br><br>
            <h2 align="center">Corpus cleaning parameters: </h2>
            <br><br>
            <div class="col-lg-12" style="margin-left: 335px;">
                <br>
                <label for="checkbox_eliminarpontuacao" style="font-weight: 400">
                    <input type="checkbox" name="checkbox_eliminarpontuacao" id="checkbox_eliminarpontuacao" value="1">&nbsp; Delete punctuation
                </label>
                <br>
                <label for="checkbox_eliminarstopwords" style="font-weight: 400">
                    <input type="checkbox" name="checkbox_eliminarstopwords" id="checkbox_eliminarstopwords" value="1" >&nbsp; Eliminate stopwords
                </label>
            </div><br/>
            <button type="button" class="btn btn-primary" onclick="ativaTab('aba_geracao');" style="margin-left: 770px; margin-top: 30px;">Next step</button>
 </div>