<div id="aba_modelo" class="tab-pane fade">
    <div class="col-lg-12">
        <label id="ativar-ngram">
            <input type="checkbox" align="center" name="checkbox_ativarngram" id="checkbox_ativarngram" value="1"> Generate N-grams
        </label>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div id="div_propriedades_ngram">
        <div class="col-lg-6">
            <h2 align="center">Properties</h2><br/>
            <fieldset id="propriedades_ngram" style="margin-left: 10px;">
                <div class="form-group">
                    <input type="checkbox" name="checkbox_ngram" id="checkbox_ngram" checked disabled>
                    <label for="numero_gram" style="font-weight: 400;">&nbsp; GRAM number:  &nbsp;&nbsp;</label>
                    <select name="numero_gram" class="form-control" id="numero_gram" style="width: 60px; display: initial;">
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <input type="checkbox" name="checkbox_vocabulario" id="checkbox_vocabulario" value="1">&nbsp;
                <label for="checkbox_vocabulario" style="font-weight: 400;"> &nbsp;Generate vocabulary</label>
            </fieldset>
        </div>
        <fieldset class="col-lg-6">
            <h2 align="center">Perplexity</h2><br/>
            <div class="radio" style="margin-left: 20px;">
                <label>
                    <input type="checkbox" name="check_carregar_arquivo_perplexidade" id="check_carregar_arquivo_perplexidade"
                           onclick="habilitarBotaoArquivoPerplexidade();"> Calculate perplexity
                        <input type="file" class="filestyle" name="file_carregar_arquivo_perplexidade"
                           id="file_carregar_arquivo_perplexidade" data-buttonBefore="true">
                </label>
            </div>
        </fieldset>
    </div>
    <button type="button" class="btn btn-primary" onclick="ativaTab('aba_entidades');" style="margin-left: 320px; margin-top: 30px;">Next step</button>
</div>