
<div id="aba_geracao" class="tab-pane fade">
            <div class="col-12">
                <br><br>
                <h2 align="center">To generate the corpus click the button below:
                    <br/>
                    <input type="button" id="botaoGerar" class="btn btn-success btn-lg" value="Generate!"
                           onclick="validarTodosCamposESubmeterForm();"
                            style="margin-top: 30px;"/>
                </h2>
                <br/>
            </div>

</div>