        <div id="aba_entidades" class="tab-pane fade">
            <div class="col-lg-12">
                <label id="ativar-entidades">
                    <input type="checkbox" align="center" name="checkbox_ativarentidades" id="checkbox_ativarentidades"[
                           value="1"> Generate corpus of named entities
                </label>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="col-lg-6">
                <h2>Properties</h2>
                <div id="saida_entidades">
                    <br>
                    <div class="form-group">
                        <label for="formato_saida_entidades">Format of the output file</label>
                        <select name="formato_saida_entidades" class="form-control" id="formato_saida_entidades" style="width: 400px;" onchange="exemplos()">
                            <option value="slashTags" selected>SlashTags</option>
                            <option value="tsv">TSV</option>
                            <option value="tabbedEntities">tabbedEntities</option>
                            <option value="xml">XML</option>
                            <option value="inlineXML">inlineXML</option>
                        </select>
                        <label style="position: absolute; margin-top: 10px; margin-left: 20px; font-weight: 400;">
                            <i id="exemplo">Exemple: Anne/Pessoa likes/O chocolate/O</i>
                        </label>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <button type="button" class="btn btn-primary" onclick="ativaTab('aba_limpeza_corpus');" style="margin-left: 320px; margin-top: 60px;">Next step</button>
        </div>