{% if erros %}
    <center>
        <div class="alert alert-danger" style="width: 60%;margin-top:-30px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error:</strong>
            {% for erro in erros %}
                {{erro}}
                <br/>
            {% endfor %}
        </div>
    </center>
{% endif %}