{% extends "WebCrawlerEngine/template.html" %}


{% block title %}
Web Crawler
{% endblock %}

{% block content %}

{% include "WebCrawlerEngine/erro_alert.html" %}

{% include "WebCrawlerEngine/index/abas_navegacao.html" %}

<form action="{% url 'WebCrawler:iniciar' %}" method="post" enctype="multipart/form-data" id="frmPrincipal">
    <div class="tab-content">
        {% csrf_token %}
        {% include "WebCrawlerEngine/index/aba_crawler.html"%}
        {% include "WebCrawlerEngine/index/aba_modelo_linguagem.html"%}
        {% include "WebCrawlerEngine/index/aba_entidades_nomeadas.html"%}
        {% include "WebCrawlerEngine/index/aba_limpeza_corpus.html"%}
        {% include "WebCrawlerEngine/index/aba_geracao.html"%}
    </div>
</form>

{% endblock %}