{% extends "WebCrawlerEngine/template.html" %}


{% block title %}
Web Crawler - Processamento
{% endblock %}

{% block content %}
<form action="{% url 'WebCrawler:processamento' %}" method="post">
    {%if processamento_em_execucao %}
        <script>
            setTimeout(function() {window.location=window.location;},1000);
        </script>
    {% endif %}

    <div class="panel panel-primary" style="margin-left:10px;margin-right:10px">
        <div class="panel-heading" style="text-align: center;">
            <h3 class="panel-title">Processing info</h3>
        </div>
        <div class="panel-body">
             <table class="table table-bordered table-condensed" style="margin=">
                <tr style="font-weight:bold;text-align: center">
                    <td>
                       Status
                    </td>
                    <td>
                       Palavras
                    </td>
                    <td>
                        {% if abrangencia == "web" %}
                            Page
                        {% else %}
                            Twittes
                        {% endif %}
                    </td>
                    <td>
                        Execution time
                    </td>
                    <td>
                        Action
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td>
                        {% if processamento_em_execucao %}
                            {{status_processamento}} <i class="fa fa-spinner fa-spin"></i>
                        {% elif status_processamento == "Finalizado" %}
                            Finished <i class="fa fa-check"></i>
                        {% else %}
                            Stoped <i class="fa fa-meh-o"></i>
                        {% endif %}
                    </td>
                     <td>
                         {%if status_processamento != "Parado" %}
                            {{contagem_palavras}}
                        {% else %}
                            --
                        {% endif %}
                    </td>

                     <td>
                        {% if status_processamento != "Parado" and  abrangencia == "web"%}
                            {{contagem_paginas}}
                        {% elif status_processamento != "Parado" and  abrangencia == "twitter" %}
                            {{contagem_twittes}}
                         {% else %}
                            --
                        {% endif %}
                    </td>

                    <td>
                        {%if status_processamento != "Parado" %}
                            {{tempo_execucao}}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                    <td >
                         {%if status_processamento == "Baixando corpus" %}
                            <div class="span8">
                                <a href="{% url 'WebCrawler:parar_processamento' %}"> <i class="fa fa-stop" style="color:black" title="Stop"></i></a>
                            </div>
                        {% elif status_processamento == "Finalizado" %}
                            <div class="span8">
                                 <a href="{% url 'WebCrawler:download_corpora' %}"> <i class="fa fa-download" style="color:black"  title="Download"></i></a>
                            </div>
                        {% elif  status_processamento == "Processando corpus"%}
                            Please, wait a minute...
                        {% else %}
                            --
                        {% endif %}
                    </td>
                </tr>
            </table>

             {%if status_processamento != "Finalizado" and status_processamento != "Parado" %}
                When the current processing end, you can make a new search.
             {%endif %}

        </div>

    </div>
</form>
{% endblock %}